<div class='container mt-5 mb-5'><div
    class='container d-flex flex-column align-items-center'
  >
    <img class='my-3 w-25' src='../public/images/beer.png' alt='' />
    <a class='btn btn-primary btn-lg my-3' href='/beers'>Check the beers</a>
    <a class='btn btn-outline-primary btn-lg' href='/random-beer'>Check a Random
      Beer</a>
  </div></div>